.button{
    -fx-background-color: derive(#2e3348,60%);
    -fx-text-fill:#1e222f;
}

.button: hover {
    -fx-background-color: derive(#2e3348,40%);
    -fx-text-fill: white;
    -fx-effect: innershadow(one-pass-box, #2e3348, 0, 1, 0, -3);
}

.button: pressed {
    -fx-opacity: 0.4;
}

.label{
    -fx-text-fill: white;
}

.menu-item .label{
    -fx-text-fill: black;
}

.combo-box .arrow-button{
    -fx-background-color:derive(#2e3348,20%);
}

.combo-box .arrow{
    -fx-background-color:white;
}

.combo-box .list-cell{
    -fx-background-color: derive(#2e3348,40%);
    -fx-text-fill: white;
}

.combo-box .list-cell: hover{
    -fx-background-color: derive(#2e3348,100%);
}

.combo-box .list-cell: pressed{
    -fx-opacity: 0.4;
}

.menu-bar {
    -fx-background-color: derive(#2e3348,40%);
}

.menu: hover {
    -fx-background-color: derive(#2e3348,0%);
}

.menu: showing{
    -fx-background-color: derive(#2e3348,0%);
}

.menu-item: focused{
    -fx-background-color: derive(#2e3348,0%);
    -fx-text-fill: white;
}

.menu-item: hover{
    -fx-background-color: derive(#2e3348,0%);
}

.menu-item: focused .label{
    -fx-background-color: derive(#2e3348,0%);
    -fx-text-fill: white;
}

.menu-item: hover .label{
    -fx-background-color: derive(#2e3348,0%);
}

#progress{
    -fx-progress-color:derive(#2e3348,0%);
}

.list-view{
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-effect: dropshadow(one-pass-box,#2e3348,5,0.3,0,2);
}

.list-view .list-cell: selected {
    -fx-background-color: derive(#2e3348,0%);
    -fx-text-fill: white;
}